parameters:
	ignoreErrors:
		-
			message: '#^Class Akira\\Commentable\\Database\\Factories\\CommentFactory extends generic class Illuminate\\Database\\Eloquent\\Factories\\Factory but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: database/factories/CommentFactory.php

		-
			message: '#^Method Akira\\Commentable\\Database\\Factories\\CommentFactory\:\:definition\(\) should return array\<model property of Illuminate\\Database\\Eloquent\\Model, mixed\> but returns array\<string, Illuminate\\Support\\Carbon\>\.$#'
			identifier: return.type
			count: 1
			path: database/factories/CommentFactory.php

		-
			message: '#^Trait Akira\\Commentable\\Concerns\\Commentable is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/Commentable.php

		-
			message: '#^Trait Akira\\Commentable\\Concerns\\Commenter is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/Commenter.php
